$MainColor: #fff;

@mixin replace($content){
        .replace {
            visibility: hidden;
            position: relative;
        }
        
        .replace:after {
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
            content: "#{$content}";
        }
    }
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
}

.pageContainer{
    background: $MainColor;
}

.landingPage{
    height: 100vh;
    position: relative;
    overflow: hidden;

    #menu-icon {
        display: none;
        background: url("Assets/Hamburger.png") center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .navBar{
        z-index: 2;
        position: absolute;
        margin-top: 1em;

        ul{
            list-style: none;
        }

        li{
            display: block;
            float: left;
            padding: 1em;
        }

        a{
            text-decoration: none;
            color:#fff;
        }
    
    }

    h2{
        color:  #fff;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        position: absolute;
        font-weight: bolder;
        font-size: 4rem;
        font-style: italic;
        z-index: 2;
        top: 50%;
        left: 50%;
        min-width: 626px;
        transform: translate(-50%, -50%);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .landingImage{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("Assets/LandingPage.jpg");
        min-height: 100vh;
        width: 100vw;
        filter: contrast(60%);
    }
}

.description{
    width: 100%;
    position: relative;

    .contactInfoHolder{
        padding: 2rem;
        margin: auto;
        width: 80%;

        .contactInfo{
            display: inline-block;
            list-style: none;
            line-height: 2em;
        }

        .portfolioPic{
            height: 200px;
            width: 200px;
            float: right;
        }
    }

    .descriptionContent{
        width: 80%;
        font-size: 2.2rem;
        color: #999;
        margin: auto;

        h2{
            margin: 2rem 0 2rem 0;
        }
        
        .descriptionBlock{
            box-sizing: border-box;
            font-size: 1.3rem;
            line-height: 1.9rem;
            margin-bottom: 2rem;
            color: #474544;
            overflow: hidden;
        }
    }
}

.contactBackground{
    max-height: 100vh;
    width: 100%;
    margin: auto;
    position: relative;
    padding: 0 0 2rem;

    .contactForm{
        display: grid;
        width: 80%;
        margin: auto;
        grid-template-columns: 25% auto auto ;
        grid-template-rows:  4.5em 1.5em 1.5em 1.5em 1.5em 12em 1.5em;
        grid-gap: 0.3em 0.6em;

        h2{
            grid-column: 1/5;
            font-size: 2.5em;
            color: #999;
        }

        label{
            width: auto;
            padding: 0;
            margin: 0;
            grid-column: 1;
        }

        #firstName, #lastName, #email, #number,#submit, #message{
            grid-column: 2/4;
            width: auto;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 1260px){
    .landingPage{
        .navBar{
            a{
                color: #1d1c1c; 
            }
        }

        h2{
            color: #1d1c1c;
            font-weight: 200;
            font-stretch: expanded;
        }

        .landingImage{
            background: fixed no-repeat url("Assets/LargerLandingPage.jpg") top right;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }

    .description{
        .contactInfoHolder{
            .contactInfo{
                font-size: 1.2em;
            }

            .portfolioPic{
                height: 280px;
                width: 280px;
            }
        }

        .descriptionContent{
            font-size: 2.5em;

            .descriptionBlock{
                font-size: 1.3rem;
                line-height: 1.4em;
            }
        }
    }
}

@media only screen and (min-width: 1900px){
    .landingPage{
        h2{
            font-size: 5rem;
        }

        li{
            font-size: 1.4rem;
        }
    }

    .description{
        .descriptionContent{
            font-size: 3rem;
            margin-top: 5%;
            .descriptionBlock{
                font-size: 1.5rem;
                line-height: 2em;
                width: auto;
            }
        }
    }

    .contactBackground{
        .contactForm{
            font-size: 1.5rem;
            margin-top: 5%;
        }
    }    
}

@media only screen and (min-width: 2560px){
    .landingPage{
        h2{
            font-size: 6rem;
        }

        li{
            font-size: 2rem;
        }
    }
    
    .description{
        .contactInfoHolder{
            .contactInfo{
                font-size: 2rem;
            }
    
            .portfolioPic{
                height: 380px;
                width: 380px;
            }
        }

        .descriptionContent{
            font-size: 4rem;

            .descriptionBlock{
                font-size: 2rem;
            }
        }
    }

    .contactBackground{
        .contactForm{
            margin-top: 10%;
            font-size: 2rem;
        }
    }
    
}

@media only screen and (max-width: 650px){

    .landingPage{
        #menu-icon {
            display:block;
            width: 40px;
            height: 40px;
            padding-left: 1em;
        }

        nav {
            ul, &:active ul { 
                position: relative;
                display: none;
                width: 1rem;
            }

            li {
                text-align: center;
                width: 6rem;
                margin: 0;

                a{
                    float: left;
                    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                }
            }
            
            &:hover ul {
                display: block;
            }
        }

        h2{
            min-width: 0;
            font-size: 3.8rem;
        }

        .landingImage{
            background-image: url("Assets/LongerLandingPage.jpg");
        }
    }

    .description{
        .contactInfoHolder{
            margin: auto;
            width: 80%;

            .contactInfo{
                min-width: 275px;
                margin: auto;
                margin-top: 2rem;
                font-size: 1rem;
                display: block;
            }

            .portfolioPic{
                display: none;
            }
        }

        h2{
           font-size: 2.5rem; 
        }

        .descriptionContent{
            .descriptionBlock{
                font-size: 1.3rem;
                line-height: 1.9rem;
            }
        }
    }

    .contactBackground{
        .contactForm{
            h2{
                font-size: 2.5rem; 
                @include replace("Sign up with Janique");
            }
        }
    }


}

@media only screen and (max-width: 420px){
    .contactForm{
        #fname{
            @include replace(First);
        }

        #lname{
            @include replace(Last);
        }
        
    }
}