@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "__Variable.scss";

//-----------------------------------------------------------------

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat';
    background: $MainColor;
    font-size: 16px;
    color: $tertiaryColor;    
}

//-----------------------------------------------------------------
.landingPage{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-shadow: 1px 1px 2px black;

    header{
       #menu-icon {
            display: none;
            z-index: 1;
            background: url("../Assets/Hamburger.png") center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .navBar{
            z-index: 3;
            position: absolute;
            margin-top: 1em;

            .closeButton{
                display: none;
            }

            ul{
                list-style: none;
                display:flex;
                flex-direction: row;
                width: 100vw;

                li{
                    display: block;
                    padding: 1em;
                    font-size: 1.5em;
                }

                a{
                    text-decoration: none;
                    color:$MainColor;
                    transition: border-bottom .5s;
                    
                }
 
                a:hover{
                    border-bottom: .1em solid #fff;
                }
            }
        } 
    }
    

    .landingImage{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../Assets/LandingPage-min.jpg");
        min-height: 100vh;
        
        .overView{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            background: rgba(0, 0, 0, 0.4);
            height: 100vh;
            color: $MainColor;

            h2{
                @include h2();
                color: inherit;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-weight: bolder;
                font-size: 4em;
                z-index: 2;
            }

            span{
                font-size: 2em;
                font-style: italic;

                a{
                    color: $secondaryColor;
                    font-weight: bolder;
                }
            }
        }

        .scrollAnchor{
            @include scrollAnchor();
            text-shadow: none;
        }
    }
}

.descriptionHeader{
    .contactInfoHolder{
        display: flex;
        flex-direction: row;
        position: relative;
        background: $secondaryColor;
        height: 100vh;

        .contactInfo{
            width: 50%;
            min-height: auto;
            background: $fourthColor;
            padding: 1em 2em;
            top: 10%;
            right: 25%;
            margin-right: -12.5%; 
            position: absolute;
            box-shadow: 1px 1px 10px $tertiaryColor;

            .infoHeader{    
                text-align: center;

                .portfolioPic{
                    height: 250px;
                    width: 250px;
                    display: inline-block;
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                h2{
                    @include h2();
                }

                p{
                    font-weight: 600;
                    font-size: 1.2em;
                }
            }

            .infoBody{
                display: inline-flex;
                width: 100%;
                justify-content: space-between;
                
                dl{
                    font-size: 1.2em;
                    dt{
                        margin: 1em 0 0
                    }
                    dd{
                        margin: 0  0 1em;
                    }
                }

                dl:nth-child(2){
                    text-align: right;
                }
            }
            
        }

        .backgroundImg{
            display: inline-block;
            width: 50%;
            height: 100%;
            box-shadow: 1px 1px 10px $tertiaryColor;
            background-image: url("../Assets/Office-min.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
        }
    }
}

.descriptionBody{
    background: #FBFBFB;
    min-height: 80vh;
    overflow: auto;
    .descriptionContent{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        .descriptionBlock{
            min-height: 100%;
            width: 50%;
            margin: auto;
            line-height: 1.8em;
            z-index: 2;

            h2{
                @include h2();
                margin-left: -55%;
                padding: 1em 1rem .5em;
                white-space: nowrap;
            }
            
            p{
                padding: 1em;
                width: 80%;
                font-size: 1.25em;
                font-weight: 100;
                color: $tertiaryColor;
            }

            p:nth-child(2){
                margin-left: -30%; 
            }

            p:nth-child(3){
                margin-left: -5%;
            }

            p:nth-child(4){
                margin-left: 20%;
            }
            
            i{
                font-size: 1.5em;
                display: block;
                text-align: center;
                margin: 0 0 .5em;
            }

        }
        
        img{
            display: block;
            width: 50%;
            min-height: 100%;;
        }
    }
}

.contactBackground{
    min-height: 50vh;
    width: 100%;
    position: relative;

    h2{
        @include h2();
        text-align: center;
        padding: .5em;
        position: relative;
    }

    .contactForm{
        display: grid;
        width: 60%;
        margin: auto;
        padding: 1em;
        grid-template-columns: 20% auto auto ;
        grid-template-rows:  2.5em 2.5em 2.5em 2.5em 12em 2.5em;
        grid-gap: 2em 0.6em;
        
        label{
            grid-column: 1;
            font-size: 1.5em;
        }

        #firstName, #lastName, #email, #subject,#submit, #message{
            grid-column: 2/4;
            width: auto;
            padding: 1em;
        }

        #submit{
            padding: 0;
        }
    }
}

footer{
    margin-top: 5%;
    min-height: 20vh;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    position: relative;

    .contactInfoHolder{
        padding: 2em;
        margin: auto;
        width: 60%;
        display: table;
    
        .contactInfo{
            display: table-cell;
            vertical-align: middle;
            list-style: none;
            line-height: 2em;

            a{
                color: #fff;
            }
        }
    }
}

@import "__MediaQueries.scss";